@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.FlavorName)</h3>
<div class="row">
    <div class="col-sm">
      @if(@Model.Treats.Count == 0)
{
  <p>no treats added.</p>
}
else
{
  <h4>Treats with this flavor:</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}<br>

<br>

<p>@Html.ActionLink("Back to list", "Index", null, null, new { @class="btn btn-outline-dark btn-block"})</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }, new { @class="btn btn-outline-dark btn-block"})</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId }, new { @class="btn btn-outline-dark btn-block"})</p>
<p>@Html.ActionLink("Delete this Flavor", "Delete", new { id = Model.FlavorId }, new { @class="btn btn-outline-dark btn-block"})</p>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>