@{
  Layout = "_Layout";
}

@using SweetTreats.ViewModels

@model RegisterViewModel

<h2>Register a new customer</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" class="btn btn-outline-dark btn-block"/>
}