@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this Treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    <p>Treat Name</p>
    @Html.EditorFor(model => model.TreatName)

    <p>Treat Description</p>
    @Html.EditorFor(model => model.TreatDescription)
    <br>
    <br>
   
    
    <input type="submit" value="Save" />
    <br><br>
}

<p>@Html.ActionLink("Back to list", "Index", null, null, new  { @class="btn btn-outline-dark btn-block"})</p>